$header-background: #6220ED;
$input-border: #6420EA;

.container {
	padding:  0px !important;
}

.header {
	background-color: $header-background;
	color: #ffff;
	padding: 1rem 0.5rem 1rem 2rem;
	h2 {
		font-size: 1.5rem;
		padding-left: 2rem;
	}
	a {
		background-color: $header-background;
		color: #ffff;
		border: none;
		font-size: 1.5rem;
		font-weight: 200;
	}

	a:hover, a:focus {
		color: #fff;
		text-decoration: none;
	}
}

.tasks-section {
	padding: 1rem 2rem 1rem 1rem;
	img {
		width: 15%;
		height: auto;
		margin-right: 1rem;;
	}
}

.task-item {
	padding-bottom: 1rem;
}

.task-form {
	margin: 1rem 0.5rem;
	button {
		background-color: $header-background;
		margin-top: 4rem;
    width: 20%
	}
	input.form-control {
		border: 2px solid $input-border;
		border-radius: 0;
		border-top: 0;
    border-right: 0;
    border-left: 0;
	}
	input.form-control:focus {
		box-shadow: none;
	}
	label {
		margin-left: 0.5rem;
		font-size: .9rem;
    color: #C2C2C2;
		width: 100%;
	}
}

.modal-header {
	background-color: $header-background;
}
